.vs/
*.dll/
*.cache/
*.json/
.json/
.dll,/
.



/CITP Portfolio Backend/MovieWebserver/obj
/CITP Portfolio Backend/MovieWebserver/obj
/CITP Portfolio Backend/MovieWebserver/obj
*.dll
/CITP Portfolio Backend/.vs
/CITP Portfolio Backend/DataLayer/bin
/CITP Portfolio Backend/DataLayer/obj
