.vs/
*.dll
*.cache
*.cs
CITP Portfolio Backend/.vs/CITP Portfolio Backend/v17/.suo
CITP Portfolio Backend/.vs/CITP Portfolio Backend/v17/DocumentLayout.backup.json
CITP Portfolio Backend/DataLayer/bin/Debug/net8.0/DataLayer.dll
CITP Portfolio Backend/DataLayer/bin/Debug/net8.0/DataLayer.pdb
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.AssemblyInfo.cs
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.AssemblyInfoInputs.cache
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.dll
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.pdb
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.sourcelink.json
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/ref/DataLayer.dll
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/refint/DataLayer.dll
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/DataLayer.dll
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/DataLayer.pdb
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/MovieWebserver.exe
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/MovieWebserver.pdb
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/ApiEndpoints.json
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/apphost.exe
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.AssemblyInfo.cs
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.AssemblyInfoInputs.cache
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.csproj.AssemblyReference.cache
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.pdb
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.sourcelink.json
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/ref/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/refint/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/obj/project.nuget.cache
CITP Portfolio Backend/MovieWebserver/obj/project.assets.json
CITP Portfolio Backend/MovieWebserver/obj/MovieWebserver.csproj.nuget.g.props
CITP Portfolio Backend/MovieWebserver/obj/MovieWebserver.csproj.nuget.dgspec.json
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/refint/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/ref/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.sourcelink.json
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.pdb
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.genruntimeconfig.cache
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.GeneratedMSBuildEditorConfig.editorconfig
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.csproj.CoreCompileInputs.cache
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.csproj.AssemblyReference.cache
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/MovieWebserver.assets.cache
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/apphost.exe
CITP Portfolio Backend/MovieWebserver/obj/Debug/net8.0/ApiEndpoints.json
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/MovieWebserver.pdb
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/MovieWebserver.exe
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/MovieWebserver.dll
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/DataLayer.pdb
CITP Portfolio Backend/DataLayer/obj/project.nuget.cache
CITP Portfolio Backend/MovieWebserver/bin/Debug/net8.0/DataLayer.dll
CITP Portfolio Backend/DataLayer/obj/project.assets.json
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/refint/DataLayer.dll
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/ref/DataLayer.dll
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.sourcelink.json
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.pdb
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.GeneratedMSBuildEditorConfig.editorconfig
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.dll
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.csproj.CoreCompileInputs.cache
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.csproj.AssemblyReference.cache
CITP Portfolio Backend/DataLayer/obj/Debug/net8.0/DataLayer.assets.cache
CITP Portfolio Backend/DataLayer/obj/DataLayer.csproj.nuget.g.props
CITP Portfolio Backend/DataLayer/obj/DataLayer.csproj.nuget.dgspec.json
CITP Portfolio Backend/DataLayer/MVContext.cs
CITP Portfolio Backend/DataLayer/bin/Debug/net8.0/DataLayer.pdb
CITP Portfolio Backend/DataLayer/bin/Debug/net8.0/DataLayer.dll
CITP Portfolio Backend/.vs/CITP Portfolio Backend/v17/DocumentLayout.json
CITP Portfolio Backend/.vs/CITP Portfolio Backend/v17/DocumentLayout.backup.json
CITP Portfolio Backend/.vs/CITP Portfolio Backend/v17/.suo
CITP Portfolio Backend/.vs/CITP Portfolio Backend/v17/.futdcache.v2
CITP Portfolio Backend/.vs/CITP Portfolio Backend/DesignTimeBuild/.dtbcache.v2
