

/* REVIEW */

.singleReview {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.breakWord {
    max-width: 100%;
    overflow-wrap: break-word;
}

/* SEARCH HISTORY */

.singlehistoryContainer{
    border: 1px solid black;
}


/* Settings */
.textHeader {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  

  /* CreateReview */
.newReviewMargin {
    margin-top: 1em;

}

.removeLink {
    text-decoration: none;
    color: black;

}

.removeLink:hover {
    color: rgba(0, 0, 0, 0.641)

}

/*For All*/

.blackBorder{
    border: 1px solid black;
    margin-bottom: 3em;
}

.user{
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;

}

.paging {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-margin{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}














