



.reviewContainer {
    border: 1px solid black;

}

.singleReview {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.breakWord {
    word-break: "break-word";
}

.whatever {
    border: 1px solid black;

}

.text-center {
    border: 1px solid black;

}


.hej {
    border: 1px solid black;

}




























